fastapi
uvicorn[standard]
pydantic
pydantic-settings
python-multipart
aiofiles
PyMuPDF
numpy
pydub
pyttsx3
scikit-learn
google-generativeai
google-cloud-texttospeech
azure-cognitiveservices-speech
openai
python-dotenv
httpx
pydub